@import "../../App.module.scss";


.backButton {
    width: 8rem;
    height: 2.5rem;
    border-radius: 5px;
    box-shadow: $shadow;
    padding: 0.75rem 1rem;
    margin-bottom: 3rem;
    font-size: 0.75rem;

    .backText {
        padding-left: 1.5rem;
    }

    &:hover {
        cursor: pointer;
    }

}

.backButton.light {
    background-color: $light-mode-elements;
    color: $light-mode-text;
}

.backButton.dark {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
}

.detailPanelContainer {
    display: flex;
    justify-content: space-between;

    .countryFlag {
        width: 40%;
        box-shadow: $shadow;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .countryData {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 1.5rem;

        .dataLeftCol {
            h2 {
                font-size: 1.25rem;
                padding-bottom: 2rem;
            }
        }

        .dataRightCol {
            padding-top: 3.5rem;
        }
    }
}