@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

.pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.pageContainer .searchFilterRow {
  width: 100%;
  max-width: 1440px;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pageContainer .searchFilterRow .searchContainer, .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
.pageContainer .countriesContainer {
  padding: 2rem 3.5rem;
}
.pageContainer .detailsContainer {
  padding: 6rem 3.5rem;
  height: 100vh;
}

.pageContainer.light {
  background-color: #FAFAFA;
}

.pageContainer.dark {
  background-color: #202C37;
}

.backButton {
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.5rem;
  margin-bottom: 3.5rem;
  font-size: 1rem;
}
.backButton .backText {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
}
.backButton:hover {
  cursor: pointer;
}

.backButton.light {
  background-color: #FFF;
  color: #111517;
}

.backButton.dark {
  background-color: #2B3945;
  color: #FFF;
}

.detailPanelContainer {
  display: flex;
}
.detailPanelContainer .countryFlag {
  width: 520px;
}
.detailPanelContainer .countryFlag img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
}
.detailPanelContainer .countryData {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
}
.detailPanelContainer .countryData h2 {
  margin-left: 6rem;
  font-size: 1.75rem;
  padding-bottom: 2rem;
}
.detailPanelContainer .countryData .countryDataUpperSection {
  display: flex;
  justify-content: space-between;
}
.detailPanelContainer .countryData .countryDataUpperSection .dataLeftCol,
.detailPanelContainer .countryData .countryDataUpperSection .dataRightCol {
  margin-left: 6rem;
}
.detailPanelContainer .countryData .countryDataUpperSection .dataLeftCol p span,
.detailPanelContainer .countryData .countryDataUpperSection .dataRightCol p span {
  font-weight: 600;
}
.detailPanelContainer .countryData .borderTitle {
  padding-top: 2rem;
  margin-left: 6rem;
  font-weight: 600;
  font-size: 1rem;
}
.detailPanelContainer .countryData .dataBorders {
  margin-left: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.detailPanelContainer .countryData .dataBorders button {
  border: none;
  margin: 0 0.25rem;
  padding: 0.25rem 1rem;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
}
.detailPanelContainer .countryData .dataBorders button:hover {
  cursor: pointer;
}
.detailPanelContainer .countryData .dataBorders button.light {
  background-color: #FFF;
  color: #111517;
}
.detailPanelContainer .countryData .dataBorders button.dark {
  background-color: #2B3945;
  color: #FFF;
}
.detailPanelContainer .countryData.light {
  color: #111517;
}
.detailPanelContainer .countryData.dark {
  color: #FFF;
}