@import "../../App.module.scss";


.backButton {
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: $shadow;
    padding: 0.75rem 1.5rem;
    margin-bottom: 3.5rem;
    font-size: 1rem;

    .backText {
        font-size: 1rem;
        font-weight: 600;
        padding-left: 1rem;
    }

    &:hover {
        cursor: pointer;
    }

}

.backButton.light {
    background-color: $light-mode-elements;
    color: $light-mode-text;
}

.backButton.dark {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
}

.detailPanelContainer {
    display: flex;

    .countryFlag {
        width: 520px;

        img {
            width: 100%;
            object-fit: cover;
            box-shadow: $shadow;
            box-sizing: border-box;
        }
    }

    .countryData {
        font-size: 1rem;
        font-weight: 300;
        line-height: 2rem;

        h2 {
            margin-left: 6rem;
            font-size: 1.75rem;
            padding-bottom: 2rem;
        }

        .countryDataUpperSection {
            display: flex;
            justify-content: space-between;

            .dataLeftCol,
            .dataRightCol {
                margin-left: 6rem;

                p {
                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        .borderTitle {
            padding-top: 2rem;
            margin-left: 6rem;
            font-weight: 600;
            font-size: 1rem;
        }

        .dataBorders {
            margin-left: 6rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            justify-content: space-between;
            margin-bottom: 4rem;

            button {
                border: none;
                margin: 0 0.25rem;
                padding: 0.25rem 1rem;
                box-shadow: $shadow;
                &:hover {
                    cursor: pointer;
                }
            }

            button.light {
                background-color: $light-mode-elements;
                color: $light-mode-text;
            }

            button.dark {
                background-color: $dark-mode-elements;
                color: $dark-mode-text;
            }
        }


    }

    .countryData.light {
        color: $light-mode-text;
    }

    .countryData.dark {
        color: $dark-mode-text;
    }
}