@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

.pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.pageContainer .searchFilterRow {
  width: 100%;
  max-width: 1440px;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pageContainer .searchFilterRow .searchContainer, .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
.pageContainer .countriesContainer {
  padding: 2rem 3.5rem;
}
.pageContainer .detailsContainer {
  padding: 6rem 3.5rem;
  height: 100%;
}

.pageContainer.light {
  background-color: #FAFAFA;
}

.pageContainer.dark {
  background-color: #202C37;
}

@media only screen and (max-width: 375px) {
  .pageContainer {
    width: 100%;
    margin: 0 auto;
  }
  .pageContainer .searchFilterRow {
    width: 100%;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
  }
}
.backButton {
  width: 8rem;
  height: 3rem;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.5rem;
  margin-bottom: 3.5rem;
  font-size: 1rem;
}
.backButton .backText {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1rem;
}
.backButton:hover {
  cursor: pointer;
}

.backButton.light {
  background-color: #FFF;
  color: #111517;
}

.backButton.dark {
  background-color: #2B3945;
  color: #FFF;
}

.detailPanelContainer {
  display: flex;
}
.detailPanelContainer .countryFlag {
  width: 520px;
}
.detailPanelContainer .countryFlag img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
}
.detailPanelContainer .countryData {
  margin-left: 10%;
  width: 50%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
}
.detailPanelContainer .countryData h2 {
  font-size: 1.75rem;
  padding-bottom: 2rem;
}
.detailPanelContainer .countryData .countryDataUpperSection {
  display: flex;
}
.detailPanelContainer .countryData .countryDataUpperSection .dataLeftCol p span,
.detailPanelContainer .countryData .countryDataUpperSection .dataRightCol p span {
  font-weight: 600;
}
.detailPanelContainer .countryData .countryDataUpperSection .dataRightCol {
  margin-left: 20%;
}
.detailPanelContainer .countryData .borderTitle {
  padding-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
}
.detailPanelContainer .countryData .dataBorders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.detailPanelContainer .countryData .dataBorders button {
  border: none;
  margin: 0 0.25rem;
  padding: 0.25rem 1rem;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
}
.detailPanelContainer .countryData .dataBorders button:hover {
  cursor: pointer;
}
.detailPanelContainer .countryData .dataBorders button.light {
  background-color: #FFF;
  color: #111517;
}
.detailPanelContainer .countryData .dataBorders button.dark {
  background-color: #2B3945;
  color: #FFF;
}
.detailPanelContainer .countryData.light {
  color: #111517;
}
.detailPanelContainer .countryData.dark {
  color: #FFF;
}

@media only screen and (max-width: 375px) {
  .detailPanelContainer {
    display: flex;
    flex-direction: column;
  }
  .detailPanelContainer .countryFlag {
    width: 100%;
  }
  .detailPanelContainer .countryFlag img {
    object-fit: cover;
  }
  .detailPanelContainer .countryData {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;
  }
  .detailPanelContainer .countryData h2 {
    margin-left: 0;
    font-size: 2rem;
    padding: 4rem 0 2rem 0;
  }
  .detailPanelContainer .countryData .countryDataUpperSection {
    display: flex;
    flex-direction: column;
  }
  .detailPanelContainer .countryData .countryDataUpperSection .dataLeftCol, .detailPanelContainer .countryData .countryDataUpperSection .dataRightCol {
    margin-left: 0;
  }
  .detailPanelContainer .countryData .countryDataUpperSection .dataLeftCol p span, .detailPanelContainer .countryData .countryDataUpperSection .dataRightCol p span {
    font-weight: 600;
  }
  .detailPanelContainer .countryData .countryDataUpperSection .dataRightCol {
    padding-top: 4rem;
  }
  .detailPanelContainer .countryData .borderTitle {
    padding-top: 2rem;
    margin-left: 0rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .detailPanelContainer .countryData .dataBorders {
    margin-left: 0rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .detailPanelContainer .countryData .dataBorders button {
    border: none;
    margin: 0 0.25rem;
    padding: 0.25rem 1rem;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.125);
  }
  .detailPanelContainer .countryData .dataBorders button:hover {
    cursor: pointer;
  }
  .detailPanelContainer .countryData .dataBorders button.light {
    background-color: #FFF;
    color: #111517;
  }
  .detailPanelContainer .countryData .dataBorders button.dark {
    background-color: #2B3945;
    color: #FFF;
  }
  .detailPanelContainer .countryData.light {
    color: #111517;
  }
  .detailPanelContainer .countryData.dark {
    color: #FFF;
  }
}