@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

.pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.pageContainer .searchFilterRow {
  width: 100%;
  max-width: 1440px;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pageContainer .searchFilterRow .searchContainer, .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
.pageContainer .countriesContainer {
  padding: 2rem 3.5rem;
}
.pageContainer .detailsContainer {
  padding: 8rem 3.5rem;
  height: 100vh;
}

.pageContainer.light {
  background-color: #FAFAFA;
}

.pageContainer.dark {
  background-color: #202C37;
}

.navContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.125);
  position: fixed;
  width: 100%;
}
.navContainer h1 {
  font-size: 1.25rem;
  font-weight: 800;
}
.navContainer .theme {
  font-size: 1rem;
  padding: 0 0.25rem 0 0;
  font-weight: 600;
}
.navContainer .theme:hover {
  cursor: pointer;
}
.navContainer .theme span {
  padding-left: 0.5rem;
}

.navContainer.light {
  background-color: #FFF;
}
.navContainer.light h1, .navContainer.light .themeIcon, .navContainer.light .themeText {
  color: #111517;
}

.navContainer.dark {
  background-color: #2B3945;
}
.navContainer.dark h1, .navContainer.dark .theme {
  color: #FFF;
}