@import "../../App.module.scss";

.navContainer {

    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;   
    box-shadow: $shadow;
    position: fixed;
    width: 100%;

    h1 {
        font-size: 1rem;
        font-weight: 800;
    }

    .theme {
        font-size: 0.75rem;
        padding-right: 0.25rem;
        font-weight: 600;
        &:hover {
            cursor: pointer;
        }

        span {
            padding: 0 0.25rem;
        }
    }
}

.navContainer.light {
    background-color: $light-mode-elements;

    h1, .themeIcon, .themeText {
        color: $light-mode-text;
    }

}

.navContainer.dark {
    background-color: $dark-mode-elements;

    h1, .theme {
        color: $dark-mode-text;
    }
}