@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

body {
  min-width: fit-content;
}
body .pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
body .pageContainer .searchFilterRow {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
body .pageContainer .searchFilterRow .searchContainer,
body .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
body .pageContainer .countriesContainer {
  width: 100%;
  padding: 2rem 3.5rem;
}
body .pageContainer .detailsContainer {
  padding: 6rem 3.5rem;
  height: 100%;
}

.light {
  background-color: #FAFAFA;
}

.dark {
  background-color: #202C37;
}

@media only screen and (max-width: 721px) {
  .searchFilterRow {
    flex-direction: column;
  }
}
.navContainer {
  width: 100%;
  height: 3.5rem;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.125);
  position: fixed;
}
.navContainer div h1 {
  font-size: 1.25rem;
  font-weight: 800;
}
.navContainer div .theme {
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 600;
}
.navContainer div .theme:hover {
  cursor: pointer;
}
.navContainer div .theme span {
  padding-left: 0.5rem;
}

.navContainer.light {
  background-color: #FFF;
}
.navContainer.light h1,
.navContainer.light .theme {
  color: #111517;
}

.navContainer.dark {
  background-color: #2B3945;
}
.navContainer.dark h1,
.navContainer.dark .theme {
  color: #FFF;
}

@media only screen and (max-width: 721px) {
  .navContainer div .theme span {
    border: none;
    display: none;
  }
}