@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

.pageContainer {
  height: 100vh;
  max-width: 1440px;
}
.pageContainer .searchFilterRow {
  display: flex;
  justify-content: space-between;
}
.pageContainer .searchFilterRow .searchContainer, .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
.pageContainer .countriesContainer {
  padding: 2rem 3.5rem;
}

.pageContainer.light {
  background-color: #FAFAFA;
}

.pageContainer.dark {
  background-color: #202C37;
}

.countryContainer {
  width: 48rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1.75rem;
}