@import "../../App.module.scss";

.countryContainer {
    display: flex;
    flex-wrap:wrap;

}

@media only screen and (max-width: $mobile-width) {
    .countryContainer {
        grid-template-columns: 1fr;
    }
}
