@import "../../App.module.scss";

.linkContainer {
    text-decoration: none;

    .countryCard {
        border-radius: 5px;
        width: 18rem;
        height: 22rem;
        box-shadow: $shadow;

        &:hover {
            cursor: pointer;
        }

        .flagContainer {
            width: 18rem;
            height: 10rem;

            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .cardText {
            padding: 1.25rem;
            line-height: 1.5rem;

            h2 {
                font-size: 1.25rem;
                padding: 1rem 0;
            }

            .statisticType {
                font-size: 0.95rem;
                font-weight: 800;
            }

            .statistic {
                font-size: 0.95rem;
            }
        }
    }
}

.countryCard.light {
    color: $light-mode-text;
}

.countryCard.dark {
    color: $dark-mode-text;
}

@media only screen and (max-width: $mobile-width) {

    .linkContainer {
        .countryCard {
            width: 24rem;
            height: 30rem;

            .flagContainer {
                width: 24rem;
                height: 14rem;
            }

            .cardText {
                line-height: 2rem;

                h2 {
                    font-size: 1.75rem;
                }

                .statisticType {
                    font-size: 1.25rem;
                }

                .statistic {
                    font-size: 1.25rem;
                }
            }
        }
    }
}