@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$dark-mode-elements: #2B3945;
$dark-mode-background: #202C37;
$dark-mode-text: #FFF;

$light-mode-elements: #FFF;
$light-mode-background: #FAFAFA;
//$light-mode-background: #ff0;
$light-mode-text: #111517;
$light-mode-input: #858585;

$shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);

$mobile-width: 721px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;
}

body {
    .pageContainer {

        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        .searchFilterRow {
            width: 100%;
            padding-top: 4rem;
            display: flex;
            justify-content: space-between;

            .searchContainer,
            .filterContainer {
                padding: 2rem 3.5rem 0.25rem 3.5rem;
            }
        }

        .countriesContainer {
            width: 100%;
            padding: 2rem 3.5rem;
        }

        .detailsContainer {
            padding: 6rem 3.5rem;
            height: 100%;
        }
    }
}

.light {
    background-color: $light-mode-background;
}
.dark {
    background-color: $dark-mode-background;
}

@media only screen and (max-width: $mobile-width) {
    .searchFilterRow {
        flex-direction: column;
    }
}