@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

.pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.pageContainer .searchFilterRow {
  width: 100%;
  max-width: 1440px;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.pageContainer .searchFilterRow .searchContainer, .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
.pageContainer .countriesContainer {
  padding: 2rem 3.5rem;
}
.pageContainer .detailsContainer {
  padding: 6rem 3.5rem;
  height: 100vh;
}

.pageContainer.light {
  background-color: #FAFAFA;
}

.pageContainer.dark {
  background-color: #202C37;
}