@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;
}

body .pageContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
body .pageContainer .searchFilterRow {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}
body .pageContainer .searchFilterRow .searchContainer,
body .pageContainer .searchFilterRow .filterContainer {
  padding: 2rem 3.5rem 0.25rem 3.5rem;
}
body .pageContainer .countriesContainer {
  width: 100%;
  padding: 2rem 3.5rem;
}
body .pageContainer .detailsContainer {
  padding: 6rem 3.5rem;
  height: 100%;
}

.light {
  background-color: #FAFAFA;
}

.dark {
  background-color: #202C37;
}

@media only screen and (max-width: 721px) {
  .searchFilterRow {
    flex-direction: column;
  }
}