@import "../../App.module.scss";

.search {
    width: 30rem;
    height: 3rem;
    border-radius: 5px;
    box-shadow: $shadow;
    padding: 0.75rem 1.5rem;

    .searchIcon {
        font-size: 1rem;
    }

    input {
        padding: 0 1rem;
        font-size: 1rem;
        border-style: none;
        font-weight: 300;

        &:focus {
            outline: none;
            border-style: none;
        }
    }
}

.search.light {
    background-color: $light-mode-elements;
    color: $light-mode-text;

    input {
        background-color: $light-mode-elements;
        color: $light-mode-text;
    }
}

.search.dark {
    background-color: $dark-mode-elements;
    color: $dark-mode-text;
    input {
        background-color: $dark-mode-elements;
        color: $dark-mode-text;
        &::placeholder {
            color: $dark-mode-text;
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .search {
        width: 24rem;    
    }
}